# Курсовая работа
## Выполнил студент группы БСТ2105 Валишин Марк

Импортируем библиотеки:

In [ ]:
import pandas as pd
import csv

Выгрузим наш датасет и посмотрим на данные:

In [ ]:
try:
    data = pd.read_csv('table.csv', sep=';')
except:
    print('Датасет не найден!')
data.head()

,Номер заказа,Дата заказа,Название товара,Категория товара,Количество продаж,Цена за единицу,Общая стоимость
0,4001,01.02.2022,Apple iPhone 14,Смартфоны,500,89990,44995000
1,4002,02.04.2022,Samsung Galaxy S22 Ultra,Смартфоны,300,99990,29997000
2,4003,03.01.2022,Игровые приставки,Игровые приставки,200,59990,11998000
3,4004,04.02.2022,LG OLED TV,Телевизоры,150,179990,26998500
4,4005,05.05.2022,Apple MacBook Pro 16,Ноутбуки,100,199990,19999000

Создадим класс хэш-таблицы:

In [ ]:
class Node:
    def __init__(self, key, value):
        self.key = key
        self.value = value
        self.next = None
# Создаем класс хэш-таблицы
class HashTable:
    def __init__(self):
        self.capacity = 10 # начальная емкость таблицы
        self.size = 0 # количество элементов в таблице
        self.buckets = [None] * self.capacity # создаем пустые списки для каждой ячейки таблицы

    # Метод добавления ключ значение в таблицу
    def add(self, key, value):
        index = hash(key) % self.capacity # вычисляем хэш-код ключа и индекс ячейки таблицы
        node = self.buckets[index] # получаем список (цепочку) элементов по индексу
        while node: # проходим по всем элементам цепочки
            if node.key == key: # если ключ уже есть в таблице, обновляем значение
                node.value = value
                return
            node = node.next
        # если ключа нет в таблице, добавляем его в начало цепочки
        new_node = Node(key, value)
        new_node.next = self.buckets[index]
        self.buckets[index] = new_node
        self.size += 1
        # если количество элементов превысило 70% от емкости таблицы, увеличиваем емкость вдвое
        if self.size > 0.7 * self.capacity:
            self.resize()

    # Метод получения значения по ключу
    def get(self, key):
        index = hash(key) % self.capacity # вычисляем хэш-код ключа и индекс ячейки таблицы
        node = self.buckets[index] # получаем список (цепочку) элементов по индексу
        while node: # проходим по всем элементам цепочки
            if node.key == key: # если ключ найден, возвращаем его значение
                return node.value
            node = node.next
        # если ключ не найден, возвращаем None
        return None

    # Метод изменения емкости таблицы
    def resize(self):
        new_capacity = self.capacity * 2 # увеличиваем емкость вдвое
        new_buckets = [None] * new_capacity # создаем новую таблицу с увеличенной емкостью
        # перехешируем все элементы из старой таблицы в новую
        for i in range(self.capacity):
            node = self.buckets[i]
            while node:
                index = hash(node.key) % new_capacity
                if new_buckets[index]:
                    new_node = new_buckets[index]
                    while new_node.next:
                        new_node = new_node.next
                    new_node.next = Node(node.key, node.value)
                else:
                    new_buckets[index] = Node(node.key, node.value)
                node = node.next
        self.capacity = new_capacity
        self.buckets = new_buckets
# Пример использования
ht1 = HashTable()
ht2 = HashTable()

Создадим функцию быстрой сортировки:

In [ ]:
def quickSort(array):
    if len(array)> 1:
        pivot=array.pop() #Берем за начальный элемент посдедний элемент основного массива и удаляем его оттуда
        grtr_lst, equal_lst, smlr_lst = [], [pivot], [] #Создаем 3 массива: с элементами меньшими, равными и большими проверяемого значения
        for item in array:
            if item == pivot:
                equal_lst.append(item)
            elif item > pivot:
                grtr_lst.append(item)
            else:
                smlr_lst.append(item)
        return (quickSort(smlr_lst) + equal_lst + quickSort(grtr_lst)) #Вызываем до тех пор, пока останутся только массивы с длиной 1
    else:
        return array

Создадим функцию для загрузки хэш-таблицы:

Функция для расчёта:
- Общей выручки
- Товара с наибольшим кол-вом продаж
- Товара с наибольшей выручкой

In [ ]:
def calculations(file):
    revenue = 0 #общая выручка
    max_revenue = 0 #переменная для максимального количества проданного товара  
    max_sales = "" #товар проданный максимальное количесво раз
    count = 0 #колво строк в csv файле
    mat = [] #массив для ключей / название товаров
    mat2 = [] #массив для выручки
    for row in file: #читаем csv построчно
        if count != 0: # не первая строка
            mat.append(row[2]) #добавляем товар в массив / ключ
            
            revenue += int(row[6]) #общая выручка
            
            if max_revenue < int(row[4]): #товар, который был продан максимальное количество раз
                max_revenue = int(row[4]) 
                max_sales = row[2] 
            
            mat2.append(int(row[6])) #создаем массив с выручкой 
            ht2.add(str(row[6]),row[2]) #в хеш таблицу записываем значение выручки/ключ и товар
            
            ht1.add(str(row[2]), row[4]) #добавляем в хэш-таблицу товар/ключ и количество его продаж
            ht1.add(str(row[2])+ "1", row[6]) #добавляем в хэш-таблицу товар/ключ и его выручку
        count += 1
    
    i = quickSort(mat2) #сортируем массив с выручками
    i.reverse() #переворачиваем его, [0] максимальная выручка

    return revenue, max_sales, ht2.get(str(i[0]))

In [ ]:
with open("table.csv", encoding='utf-8') as r_file:
        file_reader = csv.reader(r_file, delimiter = ";")
        revenue, max_sales, max_revenue = calculations(file_reader)

Выведем результаты:

In [ ]:
print(f'Общая выручка магазина: {revenue} рублей')
print(f'товар, который был продан наибольшее количество раз: {max_sales}')
print(f'Товар, который принес наибольшую выручку: {max_revenue}')

Общая выручка магазина: 241969500 рублей
товар, который был продан наибольшее количество раз: Apple iPhone 14
Товар, который принес наибольшую выручку: Apple iPhone 14

In [ ]:
#revenue = data['Общая стоимость'].sum()
#print(f'Общая выручка магазина: {revenue}')

In [ ]:
#data['Название товара'][data['Количество продаж'] == data['Количество продаж'].max()].values

In [ ]:
#data['Название товара'][data['Общая стоимость'] == data['Общая стоимость'].max()].values

Выведем долю выручки каждого товара от общей выручки:

In [ ]:
data['Доля от общей выручки в %'] = data['Общая стоимость'] / (revenue / 100)
data['Доля от общей выручки в %'] = data['Доля от общей выручки в %'].round(2).astype(int)
data.index = data['Название товара']

In [ ]:
data[['Количество продаж', 'Общая стоимость', 'Доля от общей выручки в %']]

,Количество продаж,Общая стоимость,Доля от общей выручки в %
Название товара,,,
Apple iPhone 14,500,44995000,18
Samsung Galaxy S22 Ultra,300,29997000,12
Игровые приставки,200,11998000,4
LG OLED TV,150,26998500,11
Apple MacBook Pro 16,100,19999000,8
Canon EOS R7,50,12499500,5
Bose QuietComfort 55,100,3499000,1
Samsung Galaxy Tab S8,75,5249250,2
DJI Mavic 3,25,3749750,1
Philips Hue Smart Bulbs,500,1495000,0
Apple iPad Pro 12.9,200,17998000,7
Sony PlayStation 5 Pro,100,5999000,2
Samsung Galaxy Watch 5,150,4498500,1
LG UltraFine,50,4999500,2
Canon EOS R8,75,22499250,9
Bose SoundLink Revolve+,100,2499000,1
DJI Ronin 4D,25,12499750,5
Samsung Galaxy Book Pro,50,6499500,2
Philips Sonicare DiamondClean,200,1998000,0
Nest Learning Thermostat,100,1999000,0